/*-- scss:defaults --*/
// Custom color variables to match your preferences
$primary: #2c3e50;
$secondary: #95a5a6;

/*-- scss:rules --*/
.btn-primary {
  margin-top: 2em;
}

.about-links {
  font-size: 1.2em;
}